*{
    margin: 0;
    padding: 0;
}
canvas{
   display: block; 
    position: fixed;
    top: 0;
    left: 0;
    
   
}

body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    overflow: hidden;
}
#container{
    height: 100vh;
    width: 100vw;
    background: rgb(116, 116, 116);
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 100; 
}

#block{
    width: 100px;
    height: 100px;
    background: white;
    position: absolute;
    opacity: 0;
}

.n{
    position: absolute;
    top: 0;
    height: 0;
    width: 0;
    

}
.img {
    opacity: 0;
}

.n1{  
    top: 200px;
    height: 100px;
}

.n2{
    top: 400px;
    height: 100px;
}

.n3{
    top: 600px;
    height: 100px;
}

ul{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border: .2px solid green;
    background-color: rgb(16, 85, 16);
    width: 40px;
    height: 100vh;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

li{
    font-size: 1.5em;
    text-align: center;
    color: white;
    cursor: pointer;
    padding: 2px;

}

.li1:hover{
    font-size: 1.52em;
    color: rgb(228, 228, 228);
    border-bottom: .1px solid rgb(255, 255, 255);
    padding: 2px;
}

.li2:hover{
    font-size: 1.52em;
    color: rgb(228, 228, 228);
    border-bottom: .1px solid rgb(255, 255, 255);
    padding: 2px;
}

.li3:hover{
    font-size: 1.52em;
    color: rgb(228, 228, 228);
    border-bottom: .1px solid rgb(255, 255, 255);
    padding: 2px;
}

.li4:hover{
    font-size: 1.52em;
    color: rgb(228, 228, 228);
    border-bottom: .1px solid rgb(255, 255, 255);
    padding: 2px;
}